<section class="py-5 text-center aboutfirst">
    <div class="container">
      <h1 class="fw-bold">Apps for Everyday Entrepreneur!</h1>
      <p class="pt-3">The place to discover your next favorite Apps 🚀</p>
    </div>
</section>

<section class="py-5">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-6 aboutsecheading">
              <h3 class="fw-bold mb-3">ACCESS to Try, Test & Buy best Softwares around the globe.</h3>
              <p class="pt-4">BufferApps is a trusted platform to Discover, Try and Buy newly launched software.
                Passionate entrepreneurs can easily find the best Apps for their business growth 🚀.</p>
          </div>
          <div class="col-md-6 text-center">
              <img src="assets/atf-img.png" width="70%" alt="about-image">
          </div>
      </div>
  </div>
</section>

<section class="py-5 hiwsec">
    <div class="container">
        <h2 class="fw-bold pb-5">How It Works</h2>
        <div class="row">
            <div class="col-md-3">
                <img class="mb-3" src="assets/magnifying-glass.png" width="50">
                <h5>Discover</h5>
                <p>Find best in class Softwares to grow your business</p>
            </div>
            <div class="col-md-3">
                <img class="mb-3" src="assets/refresh.png" width="50">
                <h5>Try</h5>
                <p>Easily try any favourite App from list, and put up your comment for Founders</p>
            </div>
            <div class="col-md-3">
                <img class="mb-3" src="assets/flask.png" width="50">
                <h5>Test</h5>
                <p>Become a ‘PowerTester’ to join as beta testing for launched software on BufferApps Platform.</p>
            </div>
            <div class="col-md-3">
                <img class="mb-3" src="assets/payment-method.png" width="50">
                <h5>Buy</h5>
                <p>Save more than 95% on each Software you purchase. Buy LTD and the best available deal.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5 foundernote">
  <div class="container">
      <div class="row">
          <!-- <div class="col-md-6">
              
          </div> -->
          <div class="col-md-12">
              <p class="mb-3 text-center">Founder's Note</p>
              <h2 class="fw-bold mb-3 text-center">Simply Grow With US</h2>
              <div class="w-75 wm-100 m-auto">
                  <p class="pt-4 mb-4">We created BufferApps to fulfil your business needs through best in class softwares. Which cover Productivity Apps, Designs, MarTech and SEO Apps to achieve growth in business. At BufferApps, our ultimate goal is to create a platform for everyday entrepreneurs to grab software to enhance business growth.</p>
                  <p class="mb-4">We are fans of Entrepreneurs and hence Celebrating and Promoting Entrepreneurship, every single day.</p>
                  <p class="mb-4">BufferApps is the place for early adopters to discover upcoming internet startups, and for startup founders to share their startup with the world and get early user feedback.</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="mt-3 text-center">
    <div class="container">
        <img src="assets/Apps-for-Everyday-Entrepreneur.png" class="aboutfooterimg" alt="apps-for-everyday-entrepreneurs">
    </div>
</section>