<div class="mb-3" *ngIf="startup">
    <div style="cursor:pointer;" (click)="onStartupClick()">
        <div *ngIf="startup.imagePaths?.length == 0"><img src="assets/gradientbg.png" alt="{{startup.productName}}" class="w-100 br-top-6"></div>
        <div *ngIf="startup.imagePaths?.length > 0">
            <img src="{{startup.imagePaths[0].url_preview}}" (error) ="$event.target.src = 'assets/gradientbg.png'" alt="{{startup.productName}}" class="w-100 br-top-6">
        </div>
    </div>
    <div class="p-3 border border-top-0 br-bottom-6 bg-white beta-prod">
        <h5 class="lineclamp1 fw-bold">{{startup.productName}}
            <span *ngIf="isRequested" style="font-size: 0.75rem; float: right; color: green; font-weight: bold;">Requested</span>
        </h5>
        <p class="font9rem lineclamp">{{startup.shortDesc}}</p>
        <div class="d-flex">
            <div class="px-1 mt-2 d-flex" (click)="onLikeClick()">
                <span class="fontsm me-1 mt-1">{{startup.likeCount < 0 ? 0 : startup.likeCount}}</span>
                <!-- <svg *ngIf="startup.userLikeCount == 0 " xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
                <svg *ngIf="startup.userLikeCount > 0 " xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                </svg> -->
                <img *ngIf="startup.userLikeCount == 0 " src="assets/clap.png" alt="like" width="24">
                <img *ngIf="startup.userLikeCount > 0 " src="assets/clap-filled.png" alt="like-filled" width="24">
            </div>
            <div class="px-1 mt-2 ms-2 d-flex align-items-center" (click)="onCommentsClick()">
                <!-- <span class="fontsm me-1 mt-1">{{startup.commentCount}}</span> -->
                <span class="fontsm me-1 mt-1"*ngIf="startup.commentCount > 0 ">{{startup.commentCount}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chat-left mt-1" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                </svg>
            </div>
            <div class="mt-2 ms-2 cursorpointer" *ngIf="isEditable" (click)="onEditClick()">
              <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>Edit</p>
            </div>
        </div>
    </div>
    
</div>