<section class="py-5 text-center">
    <div class="container">
        <h2 class="fw-bold mb-4"><i class="bi bi-cart-check-fill me-3 thankyouicon"></i>Thank You for Placing Order</h2>
        <p class="mb-2">We have emailed you the order details.</p> 
        <p class="mb-4">To redeem product, please go to <a class="text-decoration-none fw-bold" (click)="onProductsClick()" >Products</a> page.</p>
        <button class="btn btn-primary" (click)="onContinueShopping()">Continue Shopping</button>
    </div>
</section>