<section class="py-5 contact">
    <div class="container">
        <h1 class="fw-bold text-center">Contact Us</h1>
    </div>
</section>

<section class="py-5 py-md-3 light-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="mb-4">
                    <h2>Reach Out To Us</h2>
                    <p class="my-4">Contact our Support team if you don't find the answer you're looking for.</p>
                    <p class="mb-5">If you have any queries, please submit a ticket : <a class="btn btn-ticket ms-3" href="https://bufferapps.freshdesk.com/support/tickets/new" target="_blank">Submit A Ticket</a></p>
                    <hr>
                    <div class="pt-4">
                        <p class="mb-4">If you are not satisfied with the support team resolution, do reach out to CS Head</p>
                        <p><span class="p-1 rounded" style="background: #e1fff7;">📧<a href="mailto:varun@bufferapps.com" class="text-decoration-none fw-bold ticket-text" target="_blank">varun@bufferapps.com</a></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <!-- <form class="row">
                    <div class="col-md-6">
                      <label class="form-label fontsm">First Name</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label class="form-label fontsm">Last Name</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-12 mt-3">
                      <label class="form-label fontsm">Email</label>
                      <input type="email" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-12 mt-3">
                      <label class="form-label fontsm">Message</label>
                      <textarea type="text" class="form-control" rows="6"></textarea>
                    </div>
                    <div class="col-12 mt-3 text-end">
                      <button type="submit" class="btn btn-primary fontsm">Submit My Details</button>
                    </div>
                </form> -->
                <img src="/assets/contact-us.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
</section>  