<section class="prvcy">
    <div div class="fp-bg py-5">
      <div class="container">
        <h1 class="fw-bold text-center">Information Security Policy</h1>
      </div>
    </div>
    <div class="container pt-4">
      <div class="prvcypages">
        <h4 class="mt-5">1.0 Purpose</h4>
                    
        <p>The purpose of this policy is to direct the design, implementation and management of an
        effective Information Security Program, which ensures that BufferApps.com’s
        information assets are appropriately identified, recorded, and afforded suitable protection at all
        times. This document sets forth certain principles regarding the responsible use of information by
        BufferApps.com and outlines the roles and responsibilities of personnel to protect the
        confidentiality, integrity, and availability of BufferApps.com’s resources and data.</p>

        <h4 class="mt-5">2.0 Scope</h4>
        <p>This policy covers BufferApps.com’s information and information systems, including
        information and information systems used, managed, or operated by a contractor or other
        vendors and applicable to all BufferApps.com employees, contractors, and other users of
        BufferApps.com’s information and information systems.</p>

        <h4 class="mt-5">3.0 Policy Statements</h4>
        <ul>
          <li>Implement and maintain the Information Security Program at BufferApps.com.</li>
          <li>Continuously improve and align information security practices to global best practices
        and standards.</li>
        <li>Information security policies shall be reviewed regularly. BufferApps.com
        employees shall acknowledge their adherence to these information security policies and
        practices annually.</li>
        <li>Security awareness training shall be provided regularly.</li>
        <li>Internal assessments or audits of BufferApps.com’s Information Security Program
        shall be performed periodically, and any gaps or findings shall be remediated promptly.</li>
        <li>A risk assessment process for BufferApps.com’s information assets shall be
        defined and followed. Risk reduction shall be carried out through the process of
        continuous improvement.</li>
        <li>BufferApps.com’s information asset inventories shall be reviewed and updated
        when a new asset is added and/or an existing asset is upgraded.</li>
        <li>Business continuity plans (BCPs) and backup plans shall be reviewed and tested at least
        annually.</li>
        <li>Roles and responsibilities shall be clearly defined and communicated to relevant
        individuals.</li>
        <li>Information should be classified and handled according to its criticality and sensitivity as
        mandated by relevant legislative, regulatory and contractual requirements.</li>
        <li>Appropriate contacts shall be maintained with relevant authorities, special interest groups
        or other specialist security forums.</li>
        <li>As needed, the security incidents would be reported outside of BufferApps.com by
        a designated person nominated by executive management.</li>
        <li>Requirements for confidentiality or non-disclosure agreements reflecting the
        organisation’s needs for the protection of information shall be identified, regularly
        reviewed and documented.</li>
        <li>Prevention, detection, and recovery controls to protect against malware shall be
        implemented by BufferApps.com, and these will be combined with appropriate
        user awareness.</li>
        <li>An incident management process shall be established to correctly identify, contain,
        investigate, and remediate incidents that threaten the security or confidentiality of
        BufferApps.com’s information assets.</li>
        <li>BufferApps.com shall develop and maintain a vendor management process for
        third-party vendor engagement and assessment.</li>
        <li>Change and vulnerability management controls shall be established and implemented.</li>
        </ul>


        <h4 class="mt-5">4.0 Roles and Responsibilities</h4>
        <h5>4.1 BufferApps.com Board of Directors</h5>
        <p>The Board of Directors shall be independent of management and provide oversight and direction
        for BufferApps.com’s Information Security Program. Their responsibilities will include,
        but are not limited to:</p>
        <ul>
          <li>Ascertaining that there is transparency regarding the significant risks facing
        BufferApps.com.</li>
        <li>Obtaining assurance that management has established responsibilities, processes and
        technology for an effective Information Security Program.</li>
        <li>Using the output of any Information Management Program assessment to assist in risk
        management decisions to secure BufferApps.com’s information assets.</li>
        </ul>

        <h5>4.2 BufferApps.com Executive Management</h5>
        <p>Executive Management shall provide directions and management support to employees with
        information security responsibilities at BufferApps.com. The Executive Management team
        shall report the overall information security and business continuity program to the
        BufferApps.com’s Board.</p>
        <p>Executive Management’s responsibilities shall include:</p>
        <ul>
          <li>Defining and aligning the scope of the Information Security Program with
        BufferApps.com’s business requirements and security best practices and standards.</li>
        <li>Ensuring that information security responsibilities have been assigned and are sufficient
        to comply with the Information Security Program, including:
        <br>
        - Overseeing the Information Security Program implementation and security
        improvement initiatives. <br>
        - Preparing security awareness training material and conducting periodic
        information security training. <br>
        - Planning and performing periodic Information Security Program assessments and
        communicating the results to Executive Management. <br>
        - Performing analysis of security incidents and recommending, initiating or
        tracking corrective actions as applicable. <br>
        - Identifying the subject matter expertise needed to improve information security
        defences.
        </li>
        <li>Reviewing any reports of the Information Security Program implementation status or
        assessments.</li>
        <li>Reporting the overall information security and business continuity program to
        BufferApps.com’s Board.</li>
        <li>Providing guidance and oversight for BCPs and Disaster Recovery Management for
        BufferApps.com and approving the Disaster Recovery Action Plans documented
        for implementation.</li>
        <li>Playing an active role during BufferApps.com’s Risk Assessment exercises and
        defining risk mitigation strategies.</li>
        <li>Approving BufferApps.com’s information security policies and any changes to the
        policies and ensuring that the overall information security posture is aligned to business
        requirements and risks.</li>
        </ul>

        <h5>4.3 BufferApps.com Chief Information Security Officer (CISO)</h5>
        <p>BufferApps.com has appointed a Chief Information Security Officer (CISO) from an
        executive team who is responsible for the organisation’s information and data security. CISO’s
        responsibilities include (but are not limited to):</p>
        <ul>
          <li>Overall responsibility for implementing and ensuring information security in
        BufferApps.com and providing leadership to the enterprise’s information security
        organisation.</li>
        <li>Approving BufferApps.com’s information security policies, as well as changes or
        amendments to policies to ensure overall information security posture, is aligned to
        business requirements and risks.</li>
        <li>Monitoring continuous security improvements; reviewing and recommending applicable
        changes in the security policies and processes.</li>
        <li>Managing and improving Business Continuity Planning (BCP) and Disaster Recovery
        (DR) preparedness of the organisation.</li>
        <li>Convening with other members of executive management periodically and reporting on
        security risks and the organisation's security effectiveness.</li>
        <li>Advising top management on the standards or best security practices to adopt at the
        organisational level.</li>
        <li>Ensuring compliance with changing laws and applicable regulations.</li>
        <li>Communicating the Information Security policies and security programs to the
        organisation through ongoing security training and awareness.</li>
        <li>Partnering with business stakeholders across the company to raise awareness of risk
        management concerns.</li>
        </ul>

        <h5>4.4 BufferApps.com Information Technology (IT) Security</h5>
        <p>BufferApps.com has appointed an IT Security Manager who is in charge of overseeing the
        organisation's security operations. The responsibilities of the IT Security Manager include (but
        are not limited to):</p>
        <ul>
          <li>Managing the Security Operations team and developing policies and procedures for
        hiring new employees and developing new processes.</li>
        <li>Monitoring compliance which includes internal, external, and regulatory compliance.</li>
        <li>Ensuring internal and external cybersecurity risk management policies are understood
        and implemented by both vendors and employees. For law and regulation compliance,
        confirming that the organisation complies with industry regulations such as ISO, GDPR,
        SOX, PCI DSS, COPPA, etc.</li>
        <li>Collaborating with various departments within the organisation to reduce risk by
        ensuring that technical controls and policies are implemented across the organisation.</li>
        </ul>

        <h5>4.4.1 Security Operations Team</h5>
        <p>The Security Operations team (as a part of the IT Security team) at BufferApps.com is
        responsible for maintaining security monitoring tools and investigating suspicious activities. The
        Security Operations team's responsibilities shall include (but are not limited to):</p>
        <ul>
          <li>Maintaining all security tools and technology to secure and monitor systems effectively
        and updating these tools regularly.</li>
        <li>Monitoring all operations and infrastructure by reviewing alerts and logs to track the
        organisation's digital security impact.</li>
        <li>Evaluating new technologies and assisting in the implementation of controls that reduce
        the risk of its operation.</li>
        <li>Conducting continuous reviews of policies and controls to determine what needs to be
        improved or remediated.</li>
        <li>Liaising with the Incident Management team to ensure that the incident response program
        is tested throughout the organisation and that employees understand their roles in the
        event of an incident.</li>
        </ul>

        <h5>4.5 Information Technology (IT) Operations</h5>
        <p>BufferApps.com has appointed a Chief Technology Officer (CTO) who is responsible for
        supervising the development and delivery of technology for external customers, vendors, and
        other clients to improve and expand the business. The IT Operations team responsibilities shall
        include (but are not limited to):</p>
        <ul>
          <li>Creating technical requirements for the organisation's strategy to ensure alignment with
        its business goals.</li>
        <li>Discovering and implementing new technologies that provide a competitive advantage.</li>
        <li>Assisting departments in making profitable use of technology.</li>
        <li>Monitoring the system infrastructure to ensure its functionality and efficiency.</li>
        <li>Utilising stakeholder feedback to inform necessary technological improvements and
        adjustments.</li>
        </ul>

        <h5>4.6 Human Resources (HR)</h5>
        <p>The Human Resources team ensures that employees follow security policies designed to protect
        BufferApps.com, its customers and employees. The HR team responsibilities shall include
        (but are not limited to):</p>
        <ul>
          <li>Determining the skills and requirements for positions in information security.</li>
          <li>Ensuring that employees and contractors are informed of their information security
        responsibilities and carry them out.</li>
        <li>Providing information security management direction and support following business
        requirements and applicable laws and regulations.</li>
        </ul>

        <h4 class="mt-5">5.0 Information Security Policies</h4>
        <p>This document, along with the rest of BufferApps.com’s information security policies
        define the principles and terms of BufferApps.com’s Information Security Program as
        well as the responsibilities of the users and employees in carrying out and adhering to the
        respective program requirements.</p>
        <p>Violations of BufferApps.com’s information security policies may result in corrective
        actions and the start of a disciplinary process.</p>

        <h4 class="mt-5">6.0 Communication</h4>
        <p>BufferApps.com shall have dedicated communication channels to ensure incidents related
        personnel security or breach of policies are reported, evaluated and addressed.</p>
        <p>Examples of incidents include, but are not limited to:</p>
        <ul>
          <li>Breach of security policies</li>
          <li>Discrimination or harassment of employees</li>
          <li>Occupational Health and Safety hazards</li>
          <li>Issues with the quality of work or performance</li>
          <li>Inappropriate conduct in the workplace</li>
        </ul>

        <p>Please see Appendix 1 for a list of contacts to report incidents.</p>
        Appendix 1
        Person- Hrushikesh <br>
        Email- Hrushikesh@BufferApps.com <br>
        Address- Mumbai, India <br>
        Phone- <br>
        Number <br>
        Health and Safety <br>
        Human <br>
        Resource/Disciplinary 

        </div>
        
    </div>
</section>