<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-md-0 mb-4">
                <h5 class="footer-heading mb-4">About</h5>
                <p class="fontsm">BufferApps is a community of Makers and Early adopters to share newly developed SaaS products. It's a place to discover and get early access to exciting new startups.</p>
            </div>
            <div class="col-md-2 offset-md-1 mb-md-0 mb-4">
                <h5 class="footer-heading mb-4">Discover</h5>
                <ul class="list-unstyled flinks">
                    <li><a routerLink="/" class="d-block">Home</a></li>
                    <!-- <li><a (click)="onCategoriesClick()" class="d-block">Categories</a></li> -->
                    <!-- <li *ngIf="userData"><a (click)="onSubmitProductClick()" class="d-block">Submit Product</a></li> -->
                    <li class="d-block"><a href="https://launch.bufferapps.com" target="_blank">Submit Product</a></li>
                    <li><a href="https://help.bufferapps.com/" target="_blank">Help Docs</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-4">
                <h5 class="footer-heading mb-4">Social</h5>
                <ul class="list-unstyled flinks">
                    <li><a href="https://www.facebook.com/bufferapps" target="_blank" class="d-block">Facebook</a></li>
                    <li><a href="https://twitter.com/bufferapps" target="_blank" class="d-block">Twitter</a></li>
                    <li><a href="https://www.instagram.com/bufferapps/" target="_blank" class="d-block">Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-4">
                <h5 class="footer-heading mb-4">Resources</h5>
                <ul class="list-unstyled flinks">
                    <li><a target="_blank" routerLink="/information-security-policy" class="d-block">Information Security Policy</a></li>
                    <!-- <li><a target="_blank" routerLink="/newsletter" class="d-block">Newsletter</a></li> -->
                    <li><a target="_blank" routerLink="/terms" class="d-block">Terms</a></li>
                    <li><a target="_blank" routerLink="/privacy-policy" class="d-block">Privacy Policy</a></li>
                    <li><a target="_blank" routerLink="/about-us" class="d-block">About Us</a></li>
                    <li><a target="_blank" routerLink="/contact" class="d-block">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <p class="fontsm">Copyright 2022 BufferApps. All rights reserved.❤️</p>
            <a href="//www.dmca.com/Protection/Status.aspx?ID=962a8780-0a61-4048-8ed4-caa2d6805a0e" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=962a8780-0a61-4048-8ed4-caa2d6805a0e"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </div>
    </div>
</footer>