<section class="profile-view py-5 text-center">
    <div class="container">
        <h3 class="fw-bold mb-4">Welcome To The World Of Early Adapters!</h3>
        <p class="fontsm">We Appriciate You Joining And Willing To Put Your Efforts, Valuable Insights To Improve Launched Products.</p>
    </div>
</section>
<section class="py-5 light-bg">
    <div class="container">
        <div class="text-center">
            <p *ngIf="betaRequest">Join beta request submmited successfully!</p>
            <p *ngIf="betaRequest">Request status - {{ betaRequest.reqStatus == "ADD" ? 'Requested' : betaRequest.reqStatus == "DEC" ? 'Declined' : 'Approved' }}.</p> 
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="forminpsize" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="mb-1 font8rem">Name<span> *</span></label>
                                <input type="text" class="form-control" formControlName="name" placeholder="Name" 
                                [ngClass]="[submitted && f.name.errors ? 'is-invalid' : '',  submitted && !f.name.errors ? 'is-valid' : '']" 
                                />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="mb-1 font8rem">Email<span> *</span></label>
                                <input type="text" class="form-control" formControlName="email" placeholder="Email" 
                                [ngClass]="[submitted && f.email.errors ? 'is-invalid' : '',  submitted && !f.email.errors ? 'is-valid' : '']" 
                                />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.pattern">Enter valid email</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="mb-1 font8rem">Website</label>
                                <input type="text" class="form-control" formControlName="companyWebsite" placeholder="Website" >
                            </div>
                            <div class="mb-3">
                                <label class="mb-1 font8rem">Introduce Yourself</label>
                                <textarea class="form-control font9rem" rows="5" formControlName="introDetails" placeholder="Introduce Yourself" ></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="mb-1 font8rem">Company name you have worked with</label>
                                <input type="text" class="form-control" formControlName="companyName" placeholder="Company name" >
                            </div>
                            <div class="mb-3">
                                <label class="mb-1 font8rem">Designation</label>
                                <input type="text" class="form-control" formControlName="companyDesignation" placeholder="Designation" >
                            </div>
                            <div class="mb-3">
                                <label class="mb-1 font8rem">Write Down Experience</label>
                                <textarea class="form-control font9rem" rows="5" formControlName="notes" placeholder="Write down experience you have with testing a tool and writing product feedback" ></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="mb-1 font8rem">Twitter URL</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text font9rem">twitter.com/</span>
                                    <input type="text" class="form-control padding12 font9rem" formControlName="twitterUsername" placeholder="Twitter Username">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="mb-1 font8rem">LinkedIn URL</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text font9rem">linkedin.com/in/</span>
                                    <input type="text" class="form-control padding12 font9rem" formControlName="linkedinUsername" placeholder="LinkedIn Username"/>
                                </div>
                            </div>
                            <div class="mb-2 mt-4">
                                <button *ngIf="!betaRequest" type="submit" class="btn btn-primary w-100">Submit Request</button>
                                <button *ngIf="betaRequest" type="button" disabled class="btn btn-primary w-100">Request Submited</button>
                            </div>
                        </div>
                    </div>
                </form>  
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

