<i [ngClass]="rating > 0 && rating <= 0.5 ? 'bi bi-star-half' : rating > 0.5 ? 'bi bi-star-fill' : 'bi bi-star' "></i>
<i [ngClass]="rating > 1 && rating <= 1.5 ? 'bi bi-star-half' : rating > 1.5 ? 'bi bi-star-fill' : 'bi bi-star' "></i>
<i [ngClass]="rating > 2 && rating <= 2.5 ? 'bi bi-star-half' : rating > 2.5 ? 'bi bi-star-fill' : 'bi bi-star' "></i>
<i [ngClass]="rating > 3 && rating <= 3.5 ? 'bi bi-star-half' : rating > 3.5 ? 'bi bi-star-fill' : 'bi bi-star' "></i>
<i [ngClass]="rating > 4 && rating <= 4.5 ? 'bi bi-star-half' : rating > 4.5 ? 'bi bi-star-fill' : 'bi bi-star' "></i>