<section class="prvcy">
    <div class="fp-bg py-5">
      <div class="container">
          <h1 class="fw-bold text-center">Privacy-Policy</h1>
      </div>
    </div>
    <div class="container pt-4">
      <div class="prvcypages">
        <h4 class="mt-4 fw-bold">1.0 Introduction</h4>
        <p>BufferApps.com is a technology company headquartered in INDIA, which focuses on providing services to Software Deals.</p>
        <p>For more information about our services, please refer to our website: <span><a href="https://bufferapps.com">BufferApps.com</a></span></p>
        <p>This Privacy Policy is applicable to BufferApps.com (“we,” “our,” or “us”) as related to our services, which collectively include:</p>
            <ul>
                <li>the use of  BufferApps.com</li>
                <li>the use of the application website app.bufferapps.com(“application”)</li>
                <li>social media messages and marketing campaigns and</li>
                <li>the use of our products and services.</li>
            </ul>

        <p>This Privacy Policy sets out the essential details relating to your personal data relationships with BufferApps.com as:</p>
        <ul>
            <li>A website visitor</li>
            <li>An end user of the application (“end user”)</li>
            <li>A prospective client</li>
            <li>A job applicant and</li>
            <li>Partners</li>
        </ul>
        <p>Clients contract the use of our application and give access to their employees and other third
        parties, as solely decided by them, by creating users who access the application with their email
        address and credentials. The client's administrators grant end users roles, which result in
        different permissions and access rights to the information held in the Client account.</p>

        <h4 class="mt-5 fw-bold">2.0 Personal Information We Collect</h4>

        <h5>2.1 Information You Choose to Provide to Us</h5>

        <strong>WHEN</strong>

        <p>We may ask you to provide personal information when:</p>

        <ul>
            <li>You use the website to download articles, data sheets or eBooks.</li>
            <li>You request a free trial or demo.</li>
            <li>You refer a friend to us.</li>
            <li>You connect with us directly via phone calls or video conferencing platforms.</li>
            <li>We or Client Account Administrators grant you access to the application.</li>
            <li>You or Client Account Administrators upload or enter personal information into the application.</li>
            <li>You participate in a marketing/sales promotion.</li>
            <li>You attend trade events and other industry networking events.</li>
            <li>You register or attend a webinar or other event.</li>
            <li>You participate in programs we may offer from time to time.</li>
            <li>You participate in chats.</li>
            <li>You pay for our services.</li>
        </ul>

        <p>If you choose to provide us with a third-party’s personal information (the person’s name, email
            and company) when taking part in our referral program, you represent that you have the third party's
            permission to do so.</p>

        <strong>WHAT</strong>

        <p>We collect personal information that may include first and last name, business email address,
            phone number and/or company name.</p>

        <p> As an end user of the application, we collect your name, business email address and any comments you make in the application.</p>

        <p>In addition, we may collect data uploaded by you, your employer or other users of the application that may be required to use BufferApps.com services. We expect all users to follow their organisation’s privacy policy and any applicable regulatory requirements when uploading, accessing and using personal information into our application. The data uploaded may include personal information like:</p>

        <ul>
            <li>Employee names, email addresses and contractual agreements</li>
            <li>Vendor names, email addresses, contractual agreements or other personal data necessary for BufferApps.com services.</li>
            <li>Customer names and email addresses used to provide services within BufferApps.com’s platform.</li>
            <li>As a job applicant, we may also collect your resume and cover letter.</li>
        </ul>

        <h5>2.2 Information We Collect Automatically</h5>
        <strong>WHEN</strong>
        <p>We collect information about your visits to the website and the application when you land on any</p>
        <p>of our web pages through cookies and similar tracking technology.</p>
        <p>For further information about the types of cookies we use, you can access our Cookie Policy at</p>
        <p>this link &lt;add a link to cookie policy here&gt;.</p>
        <strong>WHAT</strong>
        <p>The information collected includes:</p>

        <ul>
          <li>access times</li>
          <li>the pages you view</li>
          <li>the links you click on</li>
          <li>the search terms you enter</li>
          <li>actions you take in connection with any of the visited pages</li>
          <li>your device information such as IP address, location, browser type and language</li>
          <li>the Uniform Resource Locator (URL) of the website that referred you to our website and</li>
          <li>the URL you browse away from our pages if you click on an external link</li>
        </ul>

        <p>We may also collect information when you open email messages from us or click on links within those email messages.</p>

        <h5>2.3 Information We May Collect From Third Parties</h5>

        <strong>WHEN</strong>

        <p>We may combine the information we collect from your direct interactions with us with information obtained through other third-party sources, We also obtain and/or purchase lists from third parties about individuals and companies interested in our products.</p>

        <strong>WHAT</strong>

        <p>The personal information collected includes your name, email address, business address, job title, company name, and telephone number.</p>

        <h4 class="mt-5 fw-bold">3.0 How We Use Personal Information</h4>

        <p>We use your personal information to:</p>

        <ul>
          <li>Deliver the contracted services and allow full use of the application functionality as purchased by the clients.</li>
          <li>Deliver training and support to our application end users and/or carry out the transactions you have requested.</li>
          <li>To communicate with you directly through emails, calls, chats, video conferencing.</li>
          <li>Process payments for application subscriptions.</li>
          <li>Send communications to you about:</li>
          <p>- New application features and upgrades.
            <br>
            - Our services and offerings. <br>
            - Event announcements. <br>
            - Product notices and changes to our terms and policies. <br>
            - Particular programs in which you have chosen to participate. <br>
            - Promotional offers and surveys. <br>
            - Scheduling demos and managing free trials.
          </p>
          <li>Advertise and market our products and services, including delivering interest-based advertisements on this website and other sites or content syndication platforms and websites.</li>
          <li>Carry out market research to understand how to improve our services and their delivery.</li>
          <li>Create and manage marketing campaigns.</li>
          <li>Generate sales leads and increase our market share.</li>
          <li>Analyse user clicks and usage of the application and website to improve user experience and maximise usage of our services.</li>
          <li>Manage our website and application to maintain and deliver the contracted functionality and services.</li>
          <li>Enforce our website and application terms and/or separate contracts (if applicable) with you</li>
          <li>Prevent fraud and other prohibited or illegal activities.</li>
          <li>Protect the security or integrity of the website, application, our business or services.</li>
          <li>Or otherwise, as disclosed to you at the point of collection or as required or permitted by law.</li>
        </ul>

        <p>Please note that sometimes we may record the video conferencing call in which you participate to analyse and improve our staff’s communication skills. If we do so, we will be announcing it at the beginning of the conference call and in the meeting invite, and we will be providing a link to our Privacy Policy in the meeting invites and on the registration page.</p>
        <p>We do not sell your information to any third party.</p>

        <h4 class="mt-5 fw-bold">4.0 How We Share Personal Information</h4>
        <p>Our Application and Services</p>
        <p>If you are an end user of our application, your personal information may be viewed by other users with access to the application. </p>
        <strong>Service Providers</strong>
        <p>We use third parties to help us provide our services. They will have access to your information as collected by the website or the application, as reasonably necessary to perform the contracted tasks on our behalf. We sign contractual agreements to obligate them to protect the personal information, only use it to deliver the contracted services to us, prohibit them from selling it and not disclose it without our knowledge and permission.</p>
        <ul>
          <li>Service Provider</li>
          <li>Name</li>
          <li>Business</li>
          <li>Purpose</li>
          <li>Information Collected by the Service</li>
          <li>Provider</li>
          <li>Data</li>
          <li>Location</li>
        </ul>

        <strong>Legal Disclosures</strong>
        <p>It is possible that we may need to disclose personal information when required by law, subpoena or other legal processes as identified in the applicable legislation. We attempt to notify our clients about legal demands for their personal data when appropriate in our judgement unless prohibited by law or court order or when the request is an emergency.</p>

        <strong>Change in Control</strong>
        <p>We can also share your personal data as part of a sale, merger, change in control or in preparation for any of these events. Any other entity which buys us or part of our business will have the right to continue to use your data, but only in the manner set out in this Privacy Policy unless you agree otherwise. </p>

        <h4 class="mt-5 fw-bold">5.0 How We Secure Personal Information</h4>
        <p>We are committed to protecting the security of all of the personal information we collect and use.</p>
        <p>We use a variety of physical, administrative and technical safeguards designed to help protect it from unauthorised access, use and disclosure. We have implemented best-practice standards and controls in compliance with internationally recognized security frameworks. We use encryption technologies to protect data at rest and in transit.</p>

        <h4 class="mt-5 fw-bold">6.0 Your Rights</h4>
        <p>We provide the same suite of services to all of our clients and end users worldwide.</p>
        <p>We offer the following rights to all individuals regardless of their location or applicable privacy regulations.</p>

        <p>For personal information we have about you, you can:</p>

        <ul>
          <li>Access your personal information or request a copy. You have the right to obtain information about what personal information we process about you or to obtain a copy of your personal information. If you have provided personal information to us, you may contact us to obtain an outline of what information we have about you or a copy of the information. If you are an end user of the application, you can log in to see the personal information in the account or approach your employer for more information.</li>
          <li>You have the right to be notified of what personal information we collect about you and how we use it, disclose it and protect it. This Privacy Policy describes what personal information we collect and our privacy practices. We may also have additional privacy notices and statements available to you at the point of providing information to us directly. </li>
          <li>Change or correct your personal information. You have the right to update/correct your personal information or ask us to do it on your behalf. You can edit your information through the user account in the application or ask us to change or correct it by contacting us at hrushikesh@bufferapps.com. </li>
          <li>Delete or erase your personal information. You have the right to request the deletion of your personal information at any time. We will communicate back to you within reasonable timelines the result of your request. We may not be able to delete or erase your personal information, but we will inform you of these reasons and any further actions available to you. </li>
          <li>Object to the processing of your personal information. You have the right to object to our processing of your personal information for direct marketing purposes. This means that we will stop using your personal information for these purposes. </li>
          <li>Ask us to restrict the processing of your personal information. You may have the right to ask us to limit the way that we use your personal information. </li>
          <li>Export your personal data.</li>
        </ul>

        <p>You have the right to request that we export to you in a machine-readable format all of the personal information we have about you.</p>
        <p>We do not process personal information through the use of automated means. If you would like to exercise any of the rights described above, please contact us at hrushikesh@bufferapps.com.</p>
        <p>You also have the right to lodge a complaint with the local organisations in charge of enforcing the privacy legislation applicable in your territory. </p>

        <h4 class="mt-5 fw-bold">7.0 How Long We Keep Your Personal Information</h4>
        <p>We retain information as long as it is necessary to provide the services to you and our clients, subject to any legal obligations to further retain such information.</p>
        <p>We may also retain information to comply with the law, prevent fraud, collect fees, resolve disputes, troubleshoot problems, assist with investigations, enforce our Terms of Service and take other actions permitted by law.</p>
        <p>The information we retain will be handled following this Privacy Policy.</p>
        <p>Information connected to you that is no longer necessary and relevant to provide our services may be de-identified or aggregated with other non-personal data. This information may provide insights that are commercially valuable to BufferApps.com, such as statistics of the use of the services. </p>


        <h4 class="mt-5 fw-bold">8.0 Other Important Information</h4>
        <p>We process data in locations INDIA and rely on legally-provided mechanisms to lawfully transfer data across borders, such as contracts incorporating data protection and sharing obligations. </p>
        <p>We will only collect and process your personal data where we have a lawful reason for its collection. </p>
        <p>When you visit our website and provide us with your personal information, we collect and use it with your consent. </p>
        <p>As an application end user, you consent to our collection of your personal information when you log in for the first time. However, your employer has control of the account and may upload and share additional personal information. Your employer’s responsibility is to ensure that collecting, using and sharing the personal information uploaded to the application complies with all applicable legislation. </p>
        <p>You can review the <a href="https://bufferapps.com/terms">terms and conditions</a> of use here of bufferapps.com Where we rely on your consent to process personal data, you have the right to withdraw or decline your consent at any time. If you have any questions about the lawful bases upon which We collect and use your personal data, please contact us at hrushikesh@bufferapps.com. </p>

        <strong>How to select your communications preferences</strong>
        <p>You may choose to receive or not receive marketing communications from us. Please click the “Unsubscribe” link in the email we sent you to stop receiving marketing communications. You may choose which information we collect automatically from your device by controlling cookie settings on your browser or by selecting your preferences through our Cookie Policy.</p>
        <p>Even if you opt-out of receiving marketing communications, we may still communicate with you regarding security and privacy issues, servicing your account, fulfilling your requests, or administering any promotion or any program in which you may have elected to participate. </p>

        <h4 class="mt-5 fw-bold">9.0 Contact Information</h4>
        <p>You may contact us to exercise any of your rights or ask for more information about your personal information and our privacy practices by contacting us at hrushikesh@bufferapps.com.</p>

        <h3>Appendix</h3>
        <h4>A.1 For Individuals Based in the European Union (EU), European Economic Area (EEA) and Switzerland </h4>
        <p>If you are based in one of these jurisdictions, BufferApps.com is the controller of your personal data collected in the following instances:</p>

        <ul>
          <li>When you visit our website BufferApps.com</li>
          <li>When we process your personal data for sales and marketing purposes BufferApps.com is a processor of all personal data processed on the application, on behalf of our clients. We only process the personal data under their direction. Please contact your employer or the organisation that granted you access to the application for details on their privacy practices.</li>
        </ul>

        <p>We only process personal data if we have a lawful basis for doing so. The lawful bases applicable to our processing as controller are:</p>
        <ul>
          <li>Consent: We will ask for your express and informed consent every time we collect your personal data on this legal basis.</li>
          <li>Contractual basis: We process the personal data as necessary to fulfil our contractual terms with you or our clients.</li>
          <li>Legitimate interest: We process the names, contact details, job titles, companies of our existing and prospective clients for our marketing purposes, including market research and sales leads generation.</li>
        </ul>

        <p>You have the following rights under the GDPR:</p>
        <ul>
          <li>Be informed about the collection and use of your personal data</li>
          <li>Access your personal data</li>
          <li>Correct errors in your personal data</li>
          <li>Erase your personal data</li>
          <li>Object to the processing of your personal data. This right is also available to individuals whose personal data is processed by us for direct marketing purposes. If you object to the processing of your personal data for direct marketing purposes, we shall stop processing within 30 days of receipt of your request.</li>
          <li>Export your personal data</li>
          <li>Restrict our processing of your personal data for specific reasons, including any of the purposes supported by the legitimate interest legal bases (see the section above).</li>
        </ul>

        <p>We process personal data in India and share it with our service providers in bufferapps.com and other jurisdictions. We use standard contractual clauses as the data transfer mechanism of transferring EU data to countries subject to data transfer requirements. See the table of our service providers here. </p>
        <p>You may contact us at hrushikesh@bufferapps.com.</p>
        <p>or you may contact our EU Data Representative at: hrushikesh@bufferapps.com. </p>
        <p>You may also lodge a complaint with your local supervisory authority, EU Data Protection Authorities (DPAs) or Swiss Federal Data Protection and Information Commissioner (FDPIC).</p>
        <p>See their contact details here National Data Protection Authorities.</p>



        <h4>A.2 For Individuals Based in California</h4>
        <p>This section provides additional specific information for consumers based in California as required by the California Consumer Privacy Act of 2018 (“CCPA”).</p>
        <h5>A.2.1 Collection and Use of Personal Information</h5>
        <p>In the last 12 months, we have collected the following categories of personal information:</p>
        <ul>
          <li>Identifiers, such as your name, mailing address, email address, zip code, telephone
          number or other similar identifiers</li>
          <li>California Customer Records (Cal. Civ. Code § 1798.80(e)), such as username and
          password, company name, job title, business email address and department</li>
          <li>Internet/network information, such as your browsing history, log and analytics data,
          information about the device(s) used to access the services and information regarding
          your interaction with our websites or services and other usage data</li>
          <li>Geolocation data, such as information about your location (at country and city level)
          collected from your IP address</li>
          <li>Sensory Information, the content, audio and video recordings of conference calls between
          you and us that we record where permitted by you and/or the law</li>
          <li>Profession/employment information that you send to us when applying for a position
          included in your CV and cover letter</li>
          <li>Other personal information, such as personal information you provide to us in relation to
          a survey, comment, question, request, article download or inquiry and any other
          information you upload to our application</li>
        </ul>

        <p>We collect personal information directly from you, from your browser or device when you visit
        our websites, from third parties that you permit to share your information or from third parties
        that share public information about you, as stated above.</p>
        <p>See the section above, “How We Use Personal Information,” to understand how we use the
        personal information collected from California consumers.</p>


        <h5>A.2.2 Recipients of Personal Information</h5>
        <p>We share personal information with third parties for business purposes. The categories of third
        parties to whom we disclose your personal information may include: (i) our service providers
        and advisors, (ii) marketing and strategic partners; (iii) ad networks and advertising partners; (iv)
        analytics providers; and (v) social networks.</p>
        <p>Please see the “How We Share Information” section of the Privacy Policy above for more
        information.</p>

        <h5>A.2.3 California Privacy Rights</h5>
        <p>As a California resident, you may be able to exercise the following rights in relation to the
        personal information about you that we have collected (subject to certain limitations at law):</p>
        <ul>
          <li>The right to know any or all of the following information relating to your personal
        information that we have collected and disclosed in the last 12 months (upon verification
        of your identity):
        <br>
        - The specific pieces of personal information we have collected about you <br>
        - The categories of personal information we have collected about you <br>
        - The categories of sources of the personal information <br>
        - The categories of personal information that we have disclosed to third parties for a business purpose, and the categories of recipients to whom this information was disclosed <br>
        - The categories of personal information we have sold and the categories of third parties to whom the information was sold, and
        - The business or commercial purposes for collecting or selling the personal information.
        </li>
        <li>The right to request deletion of personal information we have collected from you, subject
        to certain exceptions.</li>
        <li>The right to opt-out of personal information sales to third parties now or in the future.
        However, we do not sell your personal information.</li>

        </ul>

        <p>You also have the right to be free of discrimination for exercising these rights.</p>
        <p>Please note that if exercising these rights limits our ability to process personal information (such
        as a deletion request), we may no longer be able to provide you with our products and services or
        engage with you in the same manner.</p>


        <h5>A.2.4 How to Exercise Your California Consumer Rights</h5>
        <p>To exercise your right to know and/or your right to deletion, please submit a request by
        contacting us at hrushikesh@bufferapps.com.</p>
        <p>We will need to verify your identity before processing your request.</p>
        <p>In order to verify your identity, we will generally require sufficient information from you so that
        we can match it to the information we maintain about you in our systems. Sometimes we may
        need additional personal information from you to be able to identify you. We will notify you.
        We may decline a request to exercise the right to know and/or right to deletion, particularly
        where we cannot verify your identity or locate your information in our systems or as permitted
        by law.</p>
        <p>You may choose to designate an authorised agent to make a request under the CCPA on your
        behalf. No information will be disclosed until the authorised agent’s authority has been reviewed
        and verified. Once an authorised agent has submitted a request, we may require additional
        information (i.e., written authorization from you) to confirm the authorised agent’s authority.
        If you are an employee/former employee of a BufferApps.com client that uses our
        application and services, please direct your requests and/or questions directly to your
        employer/former employer.</p>
        <p>If you are a third party (auditor, business associate, etc.), who was given access to the
        BufferApps.com application by a BufferApps.com client, please direct your
        requests and/or questions directly to the BufferApps.com client that gave you access.</p>
        <strong>Minors Under Age 16</strong>
        <p>Our application and services are intended for business use, and we do not expect them to be of
        any interest to minors. We do not intentionally collect any personal information of consumers
        below the age of 16. We do not sell the personal information of California consumers.</p>

        <h4 class="mt-5 fw-bold" id="refund-policy">10.0 Refund And Cancellation Policy</h4>
      <p>We follow a reliable refund policy to let our customers feel privileged about their association with us. Please read the guidelines governing the refund policy.</p>
      <p>1. If you wish to cancel your account, notify us at least 15 days before end of your term (via an email to launch@bufferapps.com) . Upon cancellation, your data is deleted from our servers. Since deletion of all data is final please be sure that you do in fact want to cancel your account before doing so.</p>
      <p>2. Your subscription gets renewed automatically at the end of each month</p>
      <p>3. You can upgrade or downgrade level of our services at any time of your usage, however BufferApps does not refund any fees in that case</p>
      <p>4. If you stop using our services in between the term, we will not refund you the fees paid by you for the remaining term</p>
      <p>5. We reserve the right to modify or terminate the BufferApps service(s) for any reason, without notice at any time.</p>
      <p>6. Fraud: Without limiting any other remedies, BufferApps may suspend or terminate your account if we suspect that you (by conviction, settlement, insurance or investigation, or otherwise, forcefully removed our branding) have engaged in fraudulent activity in connection with the services offered by us.</p>
      <p>7. Note: No refunds are offered, even if a plan is canceled mid-month.</p>

      <h5>15 Day No Obligation Cancellation</h5>
      <p>BufferApps offers SaaS service to companies under a 15-day no obligation cancellation policy. The no obligation cancellation begins immediately upon account activation. The 15-day no obligation cancellation period only applies to new customers and does not apply to existing customers that have a subscription plan. BufferApps will also not honor a free trial period for customers who were once paying subscribers, cancelled, and then decided to re-instate their subscription to BufferApps.</p>
      <p>At any time during the 15-day, potential subscriber (customer) can cancel their account and will be refunded in full with a minor service charge.</p>
      <p>In order to continue using SaaS after the 15-day no obligation cancellation period, you will be automatically be put to continue to your selected payment plan which you have selected initially at time of buying from range of selections of monthly or receiving a discount by paying for half yearly or full year of service.</p>
      <h5>Monthly Billing, Cancellation, and Refund Policies</h5>
      <p>BufferApps charges and collects in advance for use of the SaaS service. All services rendered are non-refundable. Once a customer selects a subscription plan and provides billing information, BufferApps will calculate a pro-rated amount with the first payment due on signing.</p>
      <p>All subscriptions monthly, quarterly and yearly renew automatically on their due renewal date according to date of purchase until officially cancelled in writing. Customers may cancel anytime by emailing a notice to: launch@bufferapps.com</p>
      <p>Customers will receive an email from BufferApps confirming that their subscription to the SaaS service has been cancelled.</p>
      <p><strong>Important:</strong> No refunds or credits for partial months, quarters or years of service will be refunded to a customer upon cancellation.</p>
      <p>All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and the customer is responsible for payments of all such taxes, levies, or duties.</p>
      <p>The fees that BufferApps charges for the monthly, quarterly, or yearly services exclude phone, and Internet access charges, as well as other data transmission charges. Any currency exchange settlements are based on the customer's agreement with the payment method provider. To be clear: these charges are the customer's responsibility.</p>
      <p>Customers have the ability to upgrade or downgrade their subscription plan for the SaaS services at any time. For any kind of upgrade or downgrade in subscription, customer has to write to launch@bufferapps.com.</p>
      <p>The chosen method of billing will automatically be charged the new subscription rate on the next billing cycle.</p>
      <p>With regards to downgrades on a subscription, BufferApps does not issue refunds or credits for partial months of service.</p>
      <p>BufferApps reserves the right to refuse/cancel a subscription to any of the SaaS services bought from bufferapps.com, If BufferApps refuses a new or renewing subscription/membership, registrants will be offered a refund on prorata basis of pending days in subscription plan bought with an additional cancellation charge of $4.99.</p>
      <p>These above policies apply to all the SaaS services listed on BufferApps unless otherwise noted in the corresponding program materials.</p>

      </div>

    </div>
</section>