<!-- <section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>
        <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
        <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a routerLink="/">return to dashboard</a> or try using the search form.
        </p>
        </div>
    </div>
</section> -->
<section class="py-5">
    <div class="container">
        <div class="404 text-center">
            <img src="/assets/ba-logo.jpg" alt="" width="150" class="pb-5"><br>
            <img src="/assets/404.svg" alt="" width="500" class="mw-100">
            <h3 class="py-5">Oops! Page Not Found</h3>
            <a href="https://bufferapps.com" class="btn btn-primary">Return To Home</a>
        </div>
    </div>
</section>