<section class="pt-5">
    <div class="container">
        <div class="text-center">
            <img src="assets/images/successfully-done.gif" width="150">
            <h2 class="h2color">Product Submitted!</h2>
        </div>
        <div style="width: 700px; margin: auto;" class="py-4">
          <p class="text-center">We will check to see if your startup qulifies to get featured. You will receive an email from us very shortly. So, Please keep an eye on your inbox. Thank You!</p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h5 class="pb-5 text-center text-capitalize upgradegreen">Upgrade your submission for extra perks.</h5>
        <div class="row gx-5 pb-5 justify-content-center">
            <div class="col-md-3">
                <div class="paidplan position-relative p-4">
                  <div class="ribbon"><span class="font8rem fw-bold">Startup</span></div>
                    <h3 class="text-center pb-3">$49</h3>
                    <ul>
                      <li>Skip Waiting Queue</li>
                      <li>Get Featured Under 72 Hours</li>
                      <li>Feature In <strong>Top Trending Products</strong> For 3 Days</li>
                      <li>Social Exposure with blog post</li>
                      <li>Exposure to 50 beta testers</li>
                    </ul>
                    <a href="https://buy.stripe.com/7sIaFabpDdM6dckfYY" target="_blank" class="btn btn-primary w-100">Pay Now</a>
                </div>
            </div>
            <div class="col-md-3 position-relative">
              <div class="mainplan text-center font9rem fw-bold text-transform-uppercase"><p class="mt-1">Popular</p></div>
                <div class="paidplan position-relative p-4">
                  <div class="ribbon"><span class="font8rem fw-bold">Startup</span></div>
                    <h3 class="text-center pb-3">$99</h3>
                    <ul>
                      <li>Skip Waiting Queue</li>
                      <li>Featured under 24 hours</li>
                      <li>Feature in <strong>Top Trending Products</strong> for 15 days</li>
                      <li>Social exposure with blog post</li>
                      <li>Exposure To 100 beta testers</li>
                    </ul>
                    <a href="https://buy.stripe.com/28oaFadxLfUe2xGfYZ" target="_blank" class="btn btn-primary w-100">Pay Now</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="paidplan position-relative p-4">
                  <div class="ribbon"><span class="font8rem fw-bold">Hobby</span></div>
                    <h3 class="text-center pb-3">FREE</h3>
                    <ul>
                      <li>Get featured when we have a free slot</li>
                      <li>No guarantee on major visibility on the platform.</li>
                    </ul>
                    <button class="btn btn-sencondary disabled w-100">Free</button>
                </div>
            </div>
        </div>
    </div>
  </section>